.main {
  background-color: #333;
  color: white;
  min-height: 100vh;
}

.contact-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 25rem;
  /* width: 25rem; */
  padding: 1rem;
  background-color: rgb(59, 58, 57);
  gap: 1rem;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding: 3rem;
}
