.form-container {
  display: grid;
  place-content: center;
  max-width: 35rem;
  padding: 2rem;
  /* background-color: #333333; */
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  max-width: 50rem;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-container label {
  font-size: 1.2rem;
}

.input-container input,
.input-container textarea {
  padding: 0.5rem;
  min-height: 2.4rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  align-items: center;
}
.input-container input:focus {
  /* border: 2px solid #007bff; */
}

.submit-btn {
  width: 12rem;
  height: 2.5rem;
  padding: 0.15rem;
  border-radius: 5px;
  background-color: #fc0c8c;
  color: white;
  font-size: 1.2rem;
  border: none;
  font-weight: bolder;
}
.submit-btn:hover {
  scale: 1.05;
  background-color: #ff6fbc;
}
